<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.turtlebone.core.repository.PunishmentRepository" >
  <resultMap id="BaseResultMap" type="com.turtlebone.core.entity.Punishment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="subtype" property="subtype" jdbcType="VARCHAR" />
    <result column="val" property="val" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>

 <sql id="Base_Column_List" >
   `id`,
   `type`,
   `subtype`,
   `val`,
   `description`
 </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from punishment
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from punishment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.turtlebone.core.entity.Punishment" >
    insert into punishment ( 
     `id`,
     `type`,
     `subtype`,
     `val`,
     `description`
    )
    values (
     #{id,jdbcType=INTEGER},
     #{type,jdbcType=INTEGER},
     #{subtype,jdbcType=VARCHAR},
     #{val,jdbcType=INTEGER},
     #{description,jdbcType=VARCHAR}
 )
  </insert>
  
  
  
  <insert id="insertSelective" parameterType="com.turtlebone.core.entity.Punishment" >
    insert into punishment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        `id`,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="subtype != null" >
        `subtype`,
      </if>
      <if test="val != null" >
        `val`,
      </if>
      <if test="description != null" >
        `description`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="subtype != null" >
        #{subtype,jdbcType=VARCHAR},
      </if>
      <if test="val != null" >
        #{val,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.turtlebone.core.entity.Punishment" >
    update punishment
	  <set>
       <if test="type != null" >
        `type`= #{type,jdbcType=INTEGER},
       </if>
       <if test="subtype != null" >
        `subtype`= #{subtype,jdbcType=VARCHAR},
       </if>
       <if test="val != null" >
        `val`= #{val,jdbcType=INTEGER},
       </if>
       <if test="description != null" >
        `description`= #{description,jdbcType=VARCHAR},
       </if>
          </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.turtlebone.core.entity.Punishment" >
    update punishment
    set 
       `type` = #{type,jdbcType=INTEGER},
       `subtype` = #{subtype,jdbcType=VARCHAR},
       `val` = #{val,jdbcType=INTEGER},
       `description` = #{description,jdbcType=VARCHAR}
     where id = #{id,jdbcType=INTEGER}
  </update>
  

  
  <select id="selectCount" resultType="java.lang.Integer" parameterType="com.turtlebone.core.entity.Punishment" >
    select count(*) from punishment
    <where >
            <if test="id != null" >
        and `id` = #{id,jdbcType=INTEGER}
      </if>
            <if test="type != null" >
        and `type` = #{type,jdbcType=INTEGER}
      </if>
            <if test="subtype != null" >
        and `subtype` = #{subtype,jdbcType=VARCHAR}
      </if>
            <if test="val != null" >
        and `val` = #{val,jdbcType=INTEGER}
      </if>
            <if test="description != null" >
        and `description` = #{description,jdbcType=VARCHAR}
      </if>
          </where>
  </select>

    <select id="selectPage" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from punishment where 1 = 1 
        <if test="punishment.id != null" >
      and `id` = #{punishment.id,jdbcType=INTEGER}
    </if>
        <if test="punishment.type != null" >
      and `type` = #{punishment.type,jdbcType=INTEGER}
    </if>
        <if test="punishment.subtype != null" >
      and `subtype` = #{punishment.subtype,jdbcType=VARCHAR}
    </if>
        <if test="punishment.val != null" >
      and `val` = #{punishment.val,jdbcType=INTEGER}
    </if>
        <if test="punishment.description != null" >
      and `description` = #{punishment.description,jdbcType=VARCHAR}
    </if>
        <if test="pageable.sort != null" >
      order by 
      <foreach collection="pageable.sort" item="order" separator="," >
        <if test="
   order.property == 'id' 
   || order.property == 'type'
   || order.property == 'subtype'
   || order.property == 'val'
   || order.property == 'description'
        " >
        		${order.property} ${order.direction}
        </if>
      </foreach>
    </if>
    <if test="pageable.offset >= 0 and pageable.pageSize > 0" >
      limit ${pageable.offset}, ${pageable.pageSize}
    </if>
  </select>
 </mapper>
  

  
	